body {
  background-color: white;
  font-family: Century Gothic;
  max-width: 500px;
  min-width: 100px;
}
.tab {
  overflow: hidden;
  text-align:center;
  width: 100%;
  border: 1px solid white;
  background-color: white;
}

.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-family: Century Gothic;
  font-size: 20px;
}

.tab button:hover {
  background-color: lightgrey;
}

.tab button.active {
  background-color: grey;
}


.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid white;
  border-top: none;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
  color: black;
  text-align: center;
  font-size: 24px;
}

p {
  font-family: Century Gothic;
  text-align: center;
  font-size: 20px;
}

h3{
  color: black;
}

