body {
  background-color: white;
  font-family: Century Gothic;
}
.pill-nav button {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
}

.pill-nav button:hover {
  background-color: lightgrey;
  color: black;
}

.pill-nav button.active {
  background-color: grey;
  color: white;
}

h1 {
  color: black;
  text-align: center;
}

h2 {
	color: black;
	text-align: center;
	font-size: 24px;
}

p {
  font-family: Century Gothic;
  text-align: center;
  font-size: 20px;
}

h3{
	color: black;
}

