@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background-color: white;
    font-family: Montserrat;
    line-height: 1.5;
    margin-bottom: 230px;
}

.tab {
  overflow: hidden;
  text-align:center;
  width: 100%;
  border: 1px solid white;
  background-color: inherit;
  margin-bottom: 20px;
}

.tab button {
  background-color: white;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 14px 16px;
  transition: 0.5s;
  font-family: Montserrat;
  font-size: 20px;
}

.tab button:hover {
  background-color: lightgrey;
}

.tab button.active {
  background-color: black;
  color:white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid white;
  border-top: none;
  -webkit-animation: fadeEffect 0s;
  animation: fadeEffect 2s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  margin: auto;
  max-width: 100%;
}

.flex-container .collapsible{
  width:30%;
}

.box{
  background-color: #f1f1f1;
  margin: 10px;
  width: 50%;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.box .imgBx {
  padding-left: 3%;
  padding-top:3%;
  width: 15%;
  flex: 0 0 20%;
  margin:auto;
  flex-wrap:wrap;
}

.box .imgBx img{
  max-width: 100%;
  max-height:10%;
}

.box .content{
  padding-left:21%;
  margin-top:-10%;
  padding-right:5%;
}

.box .content h3{
  color: darkgrey;
}

.box .content p{
  font-size: 18px;
}

.collapsible {
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  border:none;
  transition:0.5s;
  border-radius: 10px;
  outline: none;
  float:center;
  font-family: Century Gothic;
}


.collapsible:hover {
  background-color: lightgrey;
}


.collapsiblecontent {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  width:50%;
  background-color: white;
  color: black;
  transition:0.5s;
  box-sizing: border-box;
  border-radius: 12px;
}

.collapsiblecontent h3{
  color: black;
  text-align:center;
  font-size: 26px;
}

.collapsiblecontent h4{
  color: black;
  text-align:center;
}

.collapsiblecontent p{
  font-size:16px;
  text-align:justify;
}

.container
{
    position:relative;
    align-items:center;
    text-align:center;
    display: flex;
    margin:auto;
    flex-flow: row wrap;
    width: 50%;
    padding: 15px;
    overflow:hidden;
}

.container .icon
{
  position:relative;
    width: auto;
    margin:auto;
    text-align:center;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3%;
}

.container .icon .iconBx
{
  position:relative;
    width: auto;
    cursor:pointer;
    text-align:center;
    display:flex;
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    filter:grayscale(1);
    transition:0.5s;
    transform: scale(0.8);
    color: grey;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.7);

}

.container .icon .iconBx:hover
{
    filter:grayscale(0);
    transition:0.5s;
    transform: scale(1);
    color: black;
}

.container .icon .iconBx.active
{
    filter:grayscale(0);
    transition:0.5s;
    transform: scale(1);
    color: black;
}

.content
{
  position:relative;
    width:50%;
    margin:auto;
    overflow: hidden;
}

.content .contentBx
{
  position: absolute;
  width:48%;
  padding:15px;
  height: auto;
  margin:auto;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform: scale(0);
    opacity:0;
    border-radius: 8px;
    background-color: #f1f1f1;
}

.content .contentBx.active
{
    transform: scale(1);
    opacity:1;
}

.content .contentBx h3
{
    text-align: center;
}

h1 {
  margin-top: 100px;
  margin-bottom: 25px;
  font-size:34px;
  color: black;
  text-align: center;
}

h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

p{
  font-size:16px;
}

p.main {
  padding-left:25%;
  width:50%;
}